/*style some stuff*/
body {
  background:#fff;
}
header, main, footer{
  width:960px;
  margin:0 auto;
}

.spacer{
  width:960;
  margin:0 auto;
    height:30px;
}

.recipe{
  width:820px;
  margin:0 auto;
  padding:40px;
  background-image:url("images/list-bg.png");
}

.recipe ul{
  width:640px;
  margin:0 auto;
  font-size:20px;
  color:#777;
  column-count:2;
  column-gap:40px;
}

.recipe li{
  padding:8px;
  cursor:pointer;
}

.recipe li span {
  display:inline-block;

  margin-right:10px;
}

.recipe .checked span{

}
.recipe .checked li{
 text-decoration: line-through;
}

.strike {
 text-decoration: line-through;
 transition: 350ms;
}

  .box{
    position:relative;
    width:10px;
    height:10px;
    border-radius:3px;
    border: 2px solid #777;
  }

.check{
  opacity:0;
  position: absolute;
  height: 4px;
  width: 11px;
  border-bottom: #777 solid 3px;
  border-left: #777 solid 3px;
  transform: skew(10deg);
  transform: rotate(-45deg);
  bottom: 5px;
  left: 2px;
  transition: 350ms;
}

 .show_check{
   opacity:1;
 }

 .dots{
   width:960px;
   margin:20px auto;
 }

 .p_dots{
   height: 1px;
   width: 100%;
   border-top: 1px dotted #999;
   opacity: .5;
 }

 .p_dots:nth-child(even){
   margin-left:1px;
 }

 .bio{
   color:#777;
   width:960px;
   margin:20px 0;
   margin-bottom:40px;
 }

 .bio h2{
   color:#555;
   margin:15px;
   font-size:24px;
   padding-top:5px;

 }

 .bio p{
   font-size:20px;
 }

 .bio img{
   margin-right:20px;
   float:left;

 }
 .bio button{
   border-style: none;
   background:#bc7058;
   color:#fff;
   font-size:16px;
   margin-left:20px;
   float:right;
   padding:18px 30px;
   margin-top:10px;
   text-transform: uppercase;
 }

 footer {
   width:960px;
   margin:0 auto;
   text-align:center;
   margin-top:30px;
 }

 footer img{
   opacity:.5;
   float:left;
   margin:0 10px;
   margin-bottom:25px;
   height:32px;
   width:30px;
 }

footer .p_dots{
  width:450px;
  float:left;
  margin-top: 15px;
}

.clearFix {
  clear:both;
}

.footer-text{
  color:#555;
  padding:5px;
}
